[loggers]
keys = root, requests, retry

[handlers]
keys = root, info

[formatters]
keys = json


[logger_root]
handlers = root
level = DEBUG

[logger_requests]
handlers = info
level = INFO
qualname = urllib3

[logger_retry]
handlers = info
level = INFO
qualname = urllib3, google



[handler_root]
class = StreamHandler
level = DEBUG
formatter = json
args = (sys.stdout,)

[handler_info]
class = StreamHandler
level = INFO
formatter = json
args = (sys.stdout,)

[formatter_json]
#format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
format=%(asctime)s - %(levelname)s - %(threadName)s - %(module)s - %(funcName)s - %(lineno)d - %(message)s
# class = pythonjsonlogger.jsonlogger.JsonFormatter
